.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.submission-form {
  margin: auto;
  max-width: 60rem;
  padding: 3rem;
  border: 1px solid rgb(236, 236, 236);
  margin-top: 2rem;
  box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.08);
}

.form-header {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.form-header h3 {
  font-size: 2.8rem;
  font-weight: normal;
}

.form-control {
  width: 100%;
  background: #f8f8f8;
  color: #555;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: none;
}

.form-control:last-child {
  margin-bottom: 2rem;
}

.form .btn {
  padding: 1.2rem 3.2rem;
  border: none;
  background: #2000ff;
  color: #fff;
  font-size: inherit;
  cursor: pointer;
  border-radius: 0.4rem;
}


.form-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-footer a {
  color: #2000ff;
}